*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  max-width:100%;
  /* border:1px solid grey; */
}
html{
  font-size:62.5%;
}
body{
  font-size:2rem;
}
h1{
  font-size:5rem;
  text-align: center;
  margin:2% 0;
}
h2{
  font-size:4rem;
  margin: 2% 0;
}
table{
  width:100%;
  text-align:center;
}
td{
  margin:4% 0;
}
.buttonContainer{
  display:flex;
  justify-content: space-evenly;
}
button, input{
  font-size:2rem !important;
}